@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Clases utilitarias personalizadas para los modos claro y oscuro */
  .bg-light-mode {
    @apply bg-white text-black;
  }

  .bg-dark-mode {
    @apply bg-gray-900 text-white;
  }

  /* Clase personalizada para encabezados con opacidad */
  .header-transparent {
    @apply bg-white;
  }
}

/* Clases adicionales para manejar el modo oscuro */
.dark body {
  @apply bg-gray-900 text-white;
}

.dark .bg-white {
  @apply bg-gray-900 text-white;
}

.dark .text-black {
  @apply text-white;
}

.dark .border-gray-300 {
  @apply border-gray-700;
}
.bg-blur-lg {
  backdrop-filter: blur(10px);
}

.text-shadow {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}

.icon-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.display {
  display: none;
}
